<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argentina</title>
</head>
<body>
    <header>
        <h1>Argentina</h1>
    </header>
    <main>
        <nav>
            <a href="{% url 'america' %}">Voltar</a>
        </nav>
        <section>
            <h1>Introdução</h1>
            <p>
                A Argentina é um país localizado na América do Sul e tem como capital a cidade de Buenos Aires. Possui mais de 2,7 milhões de km² de extensão, sendo assim o segundo maior do subcontinente. O território argentino apresenta grande variedade paisagística e climática, com destaque para uma parcela da Cordilheira dos Andes, a oeste, e a extensa região da Patagônia, ao sul. A Argentina tem mais de 45 milhões de habitantes, que desfrutam de boa qualidade de vida, e a segunda maior economia da América do Sul. O país é um grande produtor de soja, trigo e carne bovina, que são alguns de seus principais produtos de exportação.
            </p>
            <h1>Resumo</h1>
            <ul>
                <li>A Argentina é um país localizado no sul da América do Sul. Sua capital é a cidade de Buenos Aires.</li>
                <li>É o segundo maior país em área do subcontinente.</li>
                <li>Os climas da Argentina variam de tropical a subártico, devido à sua extensão longitudinal.</li>
                <li>O país tem revelo formado por montanhas, dentre as quais se destaca a Cordilheira do Himalaia, que percorre toda a faixa oeste, planaltos e uma estreita faixa oriental de planícies.</li>
                <li>Integra a Bacia Plantina, uma das mais importantes da América do Sul.</li>
                <li>Sua população é de 45.606.000 habitantes. A capital sozinha reúne um terço desse total.</li>
                <li>Representa a segunda maior economia sul-americana. Seu PIB é de 483 bilhões de dólares.</li>
                <li>Possui um parque industrial diversificado. Apesar disso, as atividades agropecuárias (produção de carne bovina e soja, principalmente) e a exploração de recursos naturais têm destaque.</li>
                <li>A qualidade de vida no país é uma das melhores do subcontinente.</li>
            </ul>
            <h1>História</h1>
            <p>Em relação à região correspondente à atual Argentina, seu território era habitado por nativos quando os primeiros europeus lá chegaram, liderados pelo espanhol Juan Díaz de Solís, o que ocorreu ainda na primeira metade do século XVI.

                Duas décadas após as primeiras expedições, no ano de 1536, foi fundada a cidade de Buenos Aires, sob o nome de Ciudad del Espíritu Santo e Puerto de Santa María del Buen Ayre. Diz-se, no entanto, que a futura capital argentina foi fundada duas vezes, pois em 1580 ela foi definitivamente estabelecida enquanto assentamento e ponto importante de chegada de imigrantes europeus nas décadas e séculos posteriores.
                
                Até o final do século XVIII, a Argentina era parte do vice-reino do Peru, que consistia em uma colônia da Espanha. Em 1717, ele começou a se desmembrar, e, mais tarde, em 1776, foi criado o vice-reino do Rio da Prata. A independência desse novo território foi conquistada pouco tempo depois, em 1816.
                
                Com isso, o território passou a se chamar Províncias Unidas do Rio da Prata, deixando assim o domínio espanhol depois de um período de seis anos de disputas. A Argentina foi o último país a se desvincular ainda naquele ano e se tornar uma nação independente.
                
                É importante destacar a ocorrência da Guerra da Cisplatina, entre 1825 e 1828, um conflito entre o Império do Brasil e as Províncias Unidas do Rio da Prata pelo controle da Cisplatina, que hoje é o atual Uruguai, o qual se tornou independente.
                
                O século XIX foi marcado ainda pela promulgação de uma constituição no país e pela intensa corrente migratória europeia que adentrou o território argentino a partir da década de 1860. O maior número de migrantes tinha origem espanhola. Muitas instabilidades econômicas e sobretudo políticas caracterizaram a história da Argentina durante todo o século XX.
                
                A década de 1930 foi conhecida como Década Infame, quando ocorreu o primeiro golpe militar do país. Dezesseis anos depois, houve outro marco na historiografia política argentina, com a chegada de Juan Domingo Perón ao poder, inaugurando a era do peronismo, período da história do país em que Perón foi presidente.
                
                Em 1955, Perón foi deposto, mas voltou ao cargo de presidente no ano de 1973. Seguindo o que ocorreu em outros países sul-americanos no período, a Argentina esteve sob uma ditadura militar entre 1976 e 1982, marcada pela escalada de violência e precarização da economia.
                
                O país voltou a ser uma democracia em 1983, após perder para o Reino Unido uma disputa territorial pelas ilhas Malvinas. Os anos subsequentes a 1990 foram marcados por uma intensa crise econômica e posterior recuperação, cenário que se repetiu nos anos 2020.
            </p>
        </section>
        <div class="fonte">
            <p>Fonte: https://brasilescola.uol.com.br/geografia/argentina.htm</p>
        </div>
    </main>
</body>
</html>