<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasil</title>
</head>
<body>
    <header>
        <h1>Brasil</h1>
    </header>
    <main>
        <nav>
            <a href="{% url 'america' %}">Voltar</a>
        </nav>
        <section>
            <h1>Introdução</h1>
            <p>
                O Brasil é o maior país da América do Sul, com área de mais de 8,5 milhões de km². Tem como capital a cidade de Brasília. Apresenta uma grande variedade climática e paisagística, que pode ser analisada mediante os domínios morfoclimáticos.
                A população brasileira chegou a 213.317.639 habitantes em 2021, de acordo com o IBGE, com mais de 87% dela vivendo nas cidades. São Paulo, capital do estado de mesmo nome, constitui a maior área urbana do Brasil, com 12 milhões de habitantes.
                A economia brasileira, embora liderada pelo setor terciário, se destaca também em áreas como a indústria petroquímica e automobilística e na produção agropecuária, que tem a soja como carro-chefe.
            </p>
            <h1>Resumo</h1>
            <ul>
                <li>O Brasil é um país da América do Sul e tem como capital a cidade de Brasília.</li>
                <li>Trata-se do maior país sul-americano.</li>
                <li>Apresenta seis ocorrências climáticas, com predomínio da tropical, e relevo formado por planaltos, planícies e depressões.</li>
                <li>A vegetação brasileira é composta por cinco biomas: Amazônia, Cerrado, Caatinga, Pantanal e Mata Atlântica.</li>
                <li>O país possui, atualmente, 213.317.639 habitantes, com a maior parcela deles vivendo nas cidades.</li>
                <li>São Paulo (SP) é a maior cidade do Brasil, com 12,3 milhões de pessoas.</li>
                <li>O Brasil é, hoje, a 12ª maior economia do mundo. O setor de serviços responde pela maior parcela do PIB. São importantes também a agropecuária, especialmente nas exportações, a indústria extrativa e petroquímica, de base e automobilística.</li>
            </ul>
            <h1>História</h1>
            <p>As populações indígenas habitavam as terras que ficariam conhecidas como Brasil muito antes dos colonizadores chegarem à América do Sul. Os primeiros portugueses aportaram no litoral nordeste do país no ano de 1500, considerado o ano do descobrimento do Brasil pelos europeus.

                Teve início, então, o período conhecido como Brasil Colônia, que se estendeu até 1822. O território estava dividido em capitanias hereditárias, e a capital brasileira era a cidade de Salvador, na Bahia. A economia era baseada na produção de cana-de-açúcar e nos engenhos, que utilizavam mão de obra de pessoas escravizadas, inicialmente indígenas e posteriormente africanos trazidos à força para o país.
                
                A descoberta de ouro em Minas Gerais mudou o centro de gravidade da colônia para a região Sudeste, o que se confirmou posteriormente com a transferência da capital para a cidade do Rio de Janeiro, em 1763. No início do século XIX, em 1808, a Família Real portuguesa se mudou para a então capital da colônia, causando transformações profundas na cidade e, em maior escala, na política da época.
                
                Em 7 de setembro de 1822, foi declarada a independência do Brasil em relação a Portugal, inaugurando, assim, o Brasil Império. Esse período foi marcado por intensas revoltas (Cabanagem, Balaiada, Sabinada, Revolução Farroupilha, Revolta dos Malês) e pela abolição da escravatura em 1888, depois de uma longa campanha.
                
                O Brasil se tornou uma república em 15 de novembro de 1889, sistema de governo em voga até o presente. O período republicano se inicia com a Primeira República, que vai de 1889 a 1930, marcada pelo desenvolvimento da economia cafeeira e intensificação da urbanização no país, concentrada principalmente no Sudeste.
                
                Logo na sequência, ocorreram a Era Vargas (1930–1945) e a Quarta República (1945–1964), que antecederam a Ditadura Militar (1964–1985). Destaca-se, ainda, a construção da nova capital do Brasil, entre 1957 e 1961, quando foi inaugurada (1960) e passou a exercer a função de sede do governo federal.
                
                A redemocratização, em 1985, deu início ao período atual, denominado de Nova República, que contou, até o presente, com oito presidentes eleitos pelo voto. Nesse intervalo, o Brasil passou por inúmeras transformações, como a intensificação da urbanização, formação da região concentrada, desconcentração industrial, expansão da fronteira agrícola, períodos de grandes prosperidade econômica e também de crises profundas, além do enfrentamento recente da sua maior crise sanitária, a pandemia da covid-19.
            </p>
        </section>
        <div class="fonte">
            <p>Fonte: https://brasilescola.uol.com.br/geografia/pais-brasil.htm</p>
        </div>
    </main>
</body>
</html>