<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alemanha</title>
</head>
<body>
    <header>
        <h1>
            Alemanha
        </h1>
    </header>
    <main>
        <nav>
            <a href="{% url 'europa' %}">Voltar</a>
        </nav>
        <section>
            <h1>Introdução</h1>
            <p>A Alemanha é o país mais populoso (sem contar a Rússia) e rico da Europa, tendo grande relevância nas decisões regionais e mundiais nos mais variados níveis: política, economia, aspectos sociais, entre outros.
            </p>
            <h1>Resumo</h1>
            <ul>
                <li>É na Alemanha que está localizada a primeira faculdade de Medicina da Europa, na cidade de Heidelberg.</li>
                <li>O país abriga a mais alta catedral do mundo, que possui 160 metros de altura.</li>
                <li>A Alemanha é o segundo maior consumidor de cerveja do planeta. A República Tcheca ocupa a primeira posição.</li>
                <li>16 anos é a idade mínima para o consumo de cerveja.</li>
                <li>A discriminação contra homossexuais é crime no país. Casais de pessoas do mesmo sexo podem adotar crianças, algo permitido por lei.</li>
                <li>O evento literário mais importante do mundo ocorre em Frankfurt.</li>
                <li>A Alemanha possui o maior zoológico do mundo em termos de quantidade de animais, o Zoológico de Berlim, com quase 14 mil animais.</li>
                <li>Grandes nomes da música, filosofia e história são alemães: Beethoven, Bach, Emmanuel Kant, Friedrich Nietzsche, Arthur Schopenhauer, Karl Marx, entre outros.</li>
                <li>A Alemanha foi o primeiro país do mundo a adotar o horário de verão.</li>
                <li>É o país europeu que mais consome plástico, porém também é líder mundial na reciclagem do lixo.</li>
                <li>Em algumas cidades alemãs, os cães pagam impostos, que variam de acordo com a raça e o comportamento deles.</li>
            </ul>
            <h1>Economia</h1>
            <p>Sendo o país mais rico da Europa e a quarta maior economia do mundo, atrás de Estados Unidos, China e Japão, a Alemanha possui uma economia bastante diversificada, sendo o terceiro país do mundo que mais exporta, atrás da China e dos Estados Unidos. No entanto, o território alemão é pobre em alguns recursos naturais, sendo importados de outros países, como o petróleo e o gás natural. O carvão, que foi a base de sua industrialização no século XIX, supre o país com 20% de todas as necessidades. As principais áreas industriais no país estão localizadas no Vale do Ruhr, que é cortado pelo rio Reno, além das cidades de Berlim, Munique, Leipzig, Stuttgart e Hannover.  Esse vale é a região mais industrializada da Europa e integra um fluxo de transportes que é ligado ao porto de Roterdã, na Holanda, o principal do continente. Os destaques industriais ficam por conta das indústrias:
            <ul>
                <li>automobilística</li>
                <li>química</li>
                <li>siderúrgica</li>
                <li>eletroeletrônica</li>
            </ul>
            A parte oeste da Alemanha é a mais desenvolvida em termos econômicos. Isso é explicado por questões históricas, devido à divisão do país no período da Guerra Fria. Tal divisão fez com que a parte ocidental se desenvolvesse mais do que a parte oriental, pois havia fortes investimentos de indústrias capitalistas na região. As cidades Munique e Stuttgart são conhecidas por abrigarem as principais indústrias alemãs de alta tecnologia, como a DaimlerChrysler, que produz automóveis de luxo, sendo uma das maiores transnacionais do mundo.</p>
        </section>
        <div class="fonte">
            <p>Fonte: https://brasilescola.uol.com.br/geografia/alemanha.htm</p>
        </div>
    </main>
</body>
</html>