<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>França</title>
</head>
<body>
    <header>
        <h1>
            França
        </h1>
    </header>
    <main>
        <nav>
            <a href="{% url 'europa' %}">Voltar</a>
        </nav>
        <section>
            <h1>Introdução</h1>
            <p>
                A França é um país localizado no continente europeu e tem como capital a cidade de Paris. Conta atualmente com mais de 65 milhões de habitantes, sendo a região da Ilha de França a mais populosa delas. Possui clima ameno e um terreno que varia de plano e suavemente ondulado a montanhoso nas regiões leste e sul. O país se destaca no cenário econômico internacional como um dos mais desenvolvidos do mundo, além de ter se tornado um importante centro cultural. 
            </p>
            <h1>Resumo</h1>
            <ul>
                <li>A França é um país europeu que faz fronteira com Espanha, Andorra, Itália, Suíça, Alemanha, Luxemburgo e Bélgica. Tem como capital a cidade de Paris.</li>
                <li>Possui cinco territórios ultramarinos, que ficam nas Américas do Sul e Central, na África e no Oceano Índico.</li>
                <li>O clima francês é do tipo temperado oceânico, enquanto o seu relevo varia das planícies, ao norte e noroeste, até as cadeias montanhosas, ao sul e a leste. A vegetação é marcada pela floresta temperada e pelas formações mediterrâneas.</li>
                <li>Conta atualmente com mais de 65 milhões de habitantes, sendo Paris a sua cidade mais populosa.</li>
                <li>É uma das maiores economias do mundo, além de se destacar pela densa rede de infraestrutura, sobretudo de transportes, que percorre o país.</li>
                <li>O turismo possui enorme peso na economia francesa, uma vez que esse é um dos países mais visitados do mundo, dispondo de atrativos que vão desde os museus e monumentos históricos até as paisagens naturais mediterrâneas, do litoral norte e também alpinas.</li>
                <li>A França é também um importante centro cultural mundial, com enorme produção literária, cinematográfica e musical, além de uma grande variedade de museus, teatros e casas de show. Sua gastronomia é mundialmente reconhecida e um de seus patrimônios.</li>
            </ul>
            <h1>História</h1>
            <p>O território que hoje conhecemos como França já foi, entre os séculos VII e V a.C., a Gália, onde viviam os povos chamados de gauleses. A sua ocupação inicial data, no entanto, de mais de 50 mil anos, situando-se no período Paleolítico. Ao sul da então Gália, os gregos acabaram por fundar a colônia de Marselha no século V a.C., que foi posteriormente tomada pelos romanos no século II a.C., os quais interiorizaram a sua ocupação e garantiram o domínio do Império Romano sobre a região, sob a liderança de Júlio César.

                Diversos povos passaram a ocupar o então território gálio nos primeiros séculos da era atual. No final do século V, os francos ingressaram na região. A dinastia merovíngia instalada perdurou até meados do século VIII, sendo sucedida pelo período carolíngio, com grande destaque para a atuação de Carlos Magno. O território foi novamente alvo de incursões estrangeiras, e dessa vez os vikings passaram a exercer domínio, sob Rollon, das terras ao norte, na região da Normandia.
                
                Diversos reinados foram estabelecidos na França entre o final da Idade Média e o período do Renascimento, este um dos mais prósperos em todos os sentidos para o país. Um dos momentos de maior turbulência e também de transformações na história social e política da França aconteceu com o advento do Iluminismo e a eclosão da Revolução Francesa, que se estendeu entre 1789 e 1799, determinando o fim do regime absolutista que havia se instalado com Luís XIV, conhecido como Rei Sol.
                
                A França participou ainda do processo imperialista de dominação e divisão da África. Pouco tempo mais tarde, teve papel ativo nas duas guerras mundiais que ocorreram entre 1914 e 1918 e, depois, entre os anos de 1939 e 1945. Mesmo após o término dos conflitos, a França passou por grandes períodos de instabilidade social e política nos anos que se seguiram. Hoje o país é uma das principais economias da Europa e do mundo ocidental e, além disso, tornou-se um importante centro de produção e difusão cultural.</p>
        </section>
        <div class="fonte">
            <p>Fonte: https://brasilescola.uol.com.br/geografia/franca.htm</p>
        </div>
    </main>
</body>
</html>