<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europa</title>
</head>
<body>
    <header>
        <h1>Geodata: Europa</h1>
    </header>
    <main>
        <p>
            Informações sobre os países da europa abaixo <!--O professor pediu 5 países, e eu peguei 3 da europa-->
        </p>
        <nav>
            <p><a href="{% url 'alemanha' %}">Informações sobre a Alemanha</a></p>
            <p><a href="{% url 'italia' %}">Informações sobre a Itália</a></p>
            <p><a href="{% url 'franca' %}">Informações sobre a França</a></p>
            <p><a href="{% url 'home' %}">Voltar para a página inicial</a></p>
        </nav>
    </main>
</body>
</html>