<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Italia</title>
</head>
<body>
    <header>
        <h1>
            Italia
        </h1>
    </header>
    <main>
        <nav>
            <a href="{% url 'europa' %}">Voltar</a>
        </nav>
        <section>
            <h1>Introdução</h1>
            <p>A Itália é um país europeu situado na porção sul do continente. Sua capital é a cidade de Roma. Banhada pelo mar Mediterrâneo, a Itália dispõe de climas mediterrâneo e temperado, o que varia conforme a altitude. O relevo do país é caracterizado por regiões planas e acidentadas, com destaque para feições como os Alpes e os Apeninos. Além do mais, a Itália abriga o maior vulcão ativo da Europa. O país tem mais de 60 milhões de habitantes e uma economia altamente desenvolvida, centrada no setor de serviços, com destaque para o turismo, e na indústria.</p>
            <h1>Resumo</h1>
            <ul>
                <li>A Itália é um país localizado na Europa Meridional.</li>
                <li>Tem como capital a cidade de Roma, onde fica também o Estado do Vaticano.</li>
                <li>É banhada pelo mar Mediterrâneo e composta ainda por regiões autônomas, como as da Sicília e Sardenha.</li>
                <li>Seu clima é predominantemente mediterrâneo, enquanto o relevo varia entre montanhoso e plano.</li>
                <li>Existem vulcões ativos no país, concentrando-se na região sul.</li>
                <li>Possui 60,46 milhões de habitantes, 70% dos quais vivem nas cidades.</li>
                <li>Sua capital, Roma, é a cidade mais populosa, com mais de quatro milhões de habitantes.</li>
                <li>Sua economia se concentra no setor de serviços, com destaque para o turismo. A indústria é referência no setor automobilístico, que responde por parte significativa das exportações.</li>
                <li>Sua produção agrícola se concentra no sul do país.</li>
                <li>É o país com o maior número de sítios listados pela Unesco como patrimônio da humanidade.</li>
            </ul>
            <h1>História</h1>
            <p>A ocupação da região onde hoje se encontra a Itália data de ao menos três milênios antes da era atual, quando os primeiros povos chegaram às ilhas mediterrâneas que hoje pertencem ao país e foram gradualmente povoando as terras continentais. Diversas civilizações fizeram parte do território italiano, com destaque para os gregos e os etruscos.

                O comércio compunha a base da economia das áreas urbanas formadas no território que viria a ser a Itália, e assim permaneceu durante muitos séculos. Nesse ínterim, desenvolveu-se a civilização romana, que estabeleceu a cidade de Roma, ainda no século VIII a.C., e, pouco tempo mais tarde, tornou-se um dos maiores impérios da Antiguidade, conquistando áreas na Europa, África e Ásia Ocidental. O Império Romano chegou ao fim no século V d.C., e muitos territórios que estavam sob o seu domínio se transformaram em reinos ou passaram para o domínio germânico.
                
                O período que vai do século XII ao século XVI é marcado pela formação de grandes cidades-Estado e pela consolidação do comércio como principal atividade econômica desenvolvida pelos territórios daquela região, em que se sobressaíram cidades como Florença, Veneza e Milão. O então fragmentado território italiano passou por uma série de disputas pelo seu domínio, as quais eram travadas com reinos e governos vizinhos (austríaco, espanhol e francês).
                
                A luta pela constituição de um reino unificado perdurou durante toda a primeira metade do século XIX, e a unificação da Itália ocorreu entre os anos de 1866 e 1870, tendo fim somente com a finalização da Questão Romana e a cessão das disputas que culminaram na criação do Estado do Vaticano, em 1929.
                
                O século XX foi marcado pela Primeira Guerra Mundial, com a Itália ao lado dos Aliados, pela ascensão do fascismo no país, no ano de 1922, e pelo consequente alinhamento italiano com a Alemanha durante a Segunda Guerra Mundial. A Itália se tornou uma república parlamentarista somente no ano de 1948, cinco anos após a queda do regime fascista, quando uma nova Constituição entrou em vigor.</p>
        </section>
        <div class="fonte">
            <p>Fonte: https://brasilescola.uol.com.br/geografia/italia-1.htm</p>
        </div>
    </main>
</body>
</html>